In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df=pd.read_csv("Diabetes.csv")
df

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years),class_variable
0,6,148,72,35,0,33.6,0.627,50,YES
1,1,85,66,29,0,26.6,0.351,31,NO
2,8,183,64,0,0,23.3,0.672,32,YES
3,1,89,66,23,94,28.1,0.167,21,NO
4,0,137,40,35,168,43.1,2.288,33,YES
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,NO
764,2,122,70,27,0,36.8,0.340,27,NO
765,5,121,72,23,112,26.2,0.245,30,NO
766,1,126,60,0,0,30.1,0.349,47,YES
767,1,93,70,31,0,30.4,0.315,23,NO

In [3]:
x=df.iloc[:,0:7].values
x

array([[  6.   , 148.   ,  72.   , ...,   0.   ,  33.6  ,   0.627],
       [  1.   ,  85.   ,  66.   , ...,   0.   ,  26.6  ,   0.351],
       [  8.   , 183.   ,  64.   , ...,   0.   ,  23.3  ,   0.672],
       ...,
       [  5.   , 121.   ,  72.   , ..., 112.   ,  26.2  ,   0.245],
       [  1.   , 126.   ,  60.   , ...,   0.   ,  30.1  ,   0.349],
       [  1.   ,  93.   ,  70.   , ...,   0.   ,  30.4  ,   0.315]])

In [4]:
y=df.iloc[:,-1]
y

0      YES
1       NO
2      YES
3       NO
4      YES
      ...
763     NO
764     NO
765     NO
766    YES
767     NO
Name:  class_variable, Length: 768, dtype: object

In [19]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [8]:
rf_clf = RandomForestClassifier(n_estimators=500, n_jobs=1, random_state=42)

In [9]:
rf_clf.fit(x_train, y_train)

RandomForestClassifier(n_estimators=500, n_jobs=1, random_state=42)

In [10]:
from sklearn.model_selection import GridSearchCV

In [11]:
rf_clf_grid = RandomForestClassifier(n_estimators=500, n_jobs=1, random_state=42)

In [12]:
param_grid = {"max_features": [4, 5, 6, 7, 8, 9, 10], "min_samples_split": [2, 3, 10]}

In [13]:
grid_search = GridSearchCV(rf_clf_grid, param_grid, n_jobs = -1, cv = 5, scoring = 'accuracy')

In [14]:
grid_search.fit(x_train, y_train)

GridSearchCV(cv=5,
             estimator=RandomForestClassifier(n_estimators=500, n_jobs=1,
                                              random_state=42),
             n_jobs=-1,
             param_grid={'max_features': [4, 5, 6, 7, 8, 9, 10],
                         'min_samples_split': [2, 3, 10]},
             scoring='accuracy')

In [15]:
grid_search.best_params_

{'max_features': 7, 'min_samples_split': 3}

In [16]:
cv_rf_clf_grid = grid_search.best_estimator_

In [17]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [18]:
from sklearn.metrics import accuracy_score, confusion_matrix
confusion_matrix(y_test, cv_rf_clf_grid.predict(x_test))
accuracy_score(y_test, cv_rf_clf_grid.predict(x_test))

0.7727272727272727

In [25]:
from sklearn.metrics import accuracy_score, confusion_matrix
confusion_matrix(y_train, cv_rf_clf_grid.predict(x_train))
accuracy_score(y_train, cv_rf_clf_grid.predict(x_train))

1.0