In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Bank_Data.csv")
df

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,johousemaid,jomanagement,joretired,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown,y
0,58,0,2143,1,0,261,1,-1,0,0,...,0,1,0,0,0,0,0,0,0,0
1,44,0,29,1,0,151,1,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,33,0,2,1,1,76,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,47,0,1506,1,0,92,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,33,0,1,0,0,198,1,-1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,0,825,0,0,977,3,-1,0,0,...,0,0,0,0,0,0,1,0,0,1
45207,71,0,1729,0,0,456,2,-1,0,0,...,0,0,1,0,0,0,0,0,0,1
45208,72,0,5715,0,0,1127,5,184,3,0,...,0,0,1,0,0,0,0,0,0,1
45209,57,0,668,0,0,508,4,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
45210,37,0,2971,0,0,361,2,188,11,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
x=df.drop(['y'], axis=1)
x

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,joentrepreneur,johousemaid,jomanagement,joretired,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown
0,58,0,2143,1,0,261,1,-1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,44,0,29,1,0,151,1,-1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,33,0,2,1,1,76,1,-1,0,0,...,1,0,0,0,0,0,0,0,0,0
3,47,0,1506,1,0,92,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,33,0,1,0,0,198,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,0,825,0,0,977,3,-1,0,0,...,0,0,0,0,0,0,0,1,0,0
45207,71,0,1729,0,0,456,2,-1,0,0,...,0,0,0,1,0,0,0,0,0,0
45208,72,0,5715,0,0,1127,5,184,3,0,...,0,0,0,1,0,0,0,0,0,0
45209,57,0,668,0,0,508,4,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
45210,37,0,2971,0,0,361,2,188,11,0,...,1,0,0,0,0,0,0,0,0,0

In [12]:
x.shape

(45211, 31)

In [5]:
y=df['y']
y

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [8]:
from keras.layers.core import Dense
from keras.models import Sequential

In [15]:
model=Sequential()
model.add(Dense(12,input_dim=31,activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [17]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
model.fit(x,y,epochs=150,batch_size=10)

Epoch 1/150
4522/4522 [==============================] - 8s 2ms/step - loss: 1.3714 - accuracy: 0.8467
Epoch 2/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.6540 - accuracy: 0.8674
Epoch 3/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.5003 - accuracy: 0.8737
Epoch 4/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.3686 - accuracy: 0.8778
Epoch 5/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2920 - accuracy: 0.8830
Epoch 6/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2871 - accuracy: 0.8830
Epoch 7/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2847 - accuracy: 0.8830
Epoch 8/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2771 - accuracy: 0.8830
Epoch 9/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2714 - accuracy: 0.8830
Epoch 10/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2783 - accuracy: 0.8830
Epoch 11/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2692 - accuracy: 0.8830
Epoch 12/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2622 - accuracy: 0.8830
Epoch 13/150
4522/4522 [==============================] - 7s 2ms/step - loss: 0.2630 - accuracy: 0.8830
Epoch 14/150
4522/4522 [==============================] - 7s 2ms/step - loss: 0.2582 - accuracy: 0.8830
Epoch 15/150
4522/4522 [==============================] - 7s 2ms/step - loss: 0.2602 - accuracy: 0.8830
Epoch 16/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2554 - accuracy: 0.8830
Epoch 17/150
4522/4522 [==============================] - 9s 2ms/step - loss: 0.2551 - accuracy: 0.8830
Epoch 18/150
4522/4522 [==============================] - 9s 2ms/step - loss: 0.2540 - accuracy: 0.8827
Epoch 19/150
4522/4522 [==============================] - 9s 2ms/step - loss: 0.2548 - accuracy: 0.8830: 0s - loss: 0.2537 -
Epoch 20/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2531 - accuracy: 0.8830
Epoch 21/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2518 - accuracy: 0.8830
Epoch 22/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2528 - accuracy: 0.8845
Epoch 23/150
4522/4522 [==============================] - 9s 2ms/step - loss: 0.2532 - accuracy: 0.8828
Epoch 24/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2512 - accuracy: 0.8829
Epoch 25/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2489 - accuracy: 0.8925
Epoch 26/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2489 - accuracy: 0.8927
Epoch 27/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2489 - accuracy: 0.8933
Epoch 28/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2479 - accuracy: 0.8941
Epoch 29/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2472 - accuracy: 0.8956
Epoch 30/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2459 - accuracy: 0.8962
Epoch 31/150
4522/4522 [==============================] - 9s 2ms/step - loss: 0.2477 - accuracy: 0.8949
Epoch 32/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2464 - accuracy: 0.8951
Epoch 33/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2468 - accuracy: 0.8933
Epoch 34/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2460 - accuracy: 0.8969
Epoch 35/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2476 - accuracy: 0.8954
Epoch 36/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2502 - accuracy: 0.8945
Epoch 37/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2453 - accuracy: 0.8954
Epoch 38/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2442 - accuracy: 0.8971
Epoch 39/150
4522/4522 [==============================] - 9s 2ms/step - loss: 0.2458 - accuracy: 0.8949
Epoch 40/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2451 - accuracy: 0.8969
Epoch 41/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2453 - accuracy: 0.8954
Epoch 42/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2451 - accuracy: 0.8946
Epoch 43/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2451 - accuracy: 0.8956
Epoch 44/150
4522/4522 [==============================] - 8s 2ms/step - loss: 0.2439 - accuracy: 0.8973
Epoch 45/150
4522/4522 [==============================] - 9s 2ms/step - loss: 0.2433 - accuracy: 0.8953
Epoch 46/150
2556/4522 [===============>..............] - ETA: 3s - loss: 0.2467 - accuracy: 0.8929